---
interface Props {
  title?: string;
  body?: string;
}
const { title, body } = Astro.props;
---
<>
  {title && <h2 class="text-sm font-semibold tracking-widest uppercase text-primary/80 m-0 z-20">{title}</h2>}
  {body && <p class="m-0 text-sm text-muted-foreground">{body}</p>}
  <slot />
</>
