---
import Card from "./Card/index.astro";
import OrbitalGlobe from "./OrbitalGlobe.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="visited" href="/travel">
  <div class="flex items-center justify-center flex-1 overflow-hidden">
    <OrbitalGlobe compact />
  </div>
</Card>
